<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <title>A Home To Share</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/aboutUs_style.css}" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" th:defer="true"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/footer.css}" th:defer="true"/>
        <script type="text/javascript" th:src="@{../webjars/jquery/3.3.1-2/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/header.js}" defer></script>
        
    </head>
    
    <body class="subpage">
        <!-- Header -->
        <header th:replace=" header :: header"></header>

    <!-- Main -->
        <!-- Block 1 -->
        <section class="main_section">             
                <div>
                    <h1>What is A Home To Share?</h1>
                    <h6><img src="../image/bulletpoint36.png" alt="bulletpoint icon image" style="width:15px;height:15px;"> Seniors have too much house.</h6>  
                    <h6><img src="../image/bulletpoint36.png" alt="bulletpoint icon image" style="width:15px;height:15px;"> Youth have none.</h6> 
                    <h6><img src="../image/bulletpoint36.png" alt="bulletpoint icon image" style="width:15px;height:15px;"> An affordable housing option is A Home to Share.
                    </h6>
                </div>
        </section>    
    
        <!-- Block 2 -->
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-3">
                <img src="../image/for_rent.png" alt="For Rent icon image" style="width:180px;height:90px; margin-left:20px;">
                <p align="left">
                    Canada's rents are rising while the vacancy rates are
                    shrinking, yet our country has one coveted real estate
                    asset collecting dust: empty bedrooms,  and millions of
                    them. 
                </p>
                <p align="left">
                    A growing number of the country's seniors are living
                    in homes too big, while young Canadians can’t access
                    affordable apartments and have no credit or rental 
                    history to access rental apartments.  
                </p>
                <p align="left">
                    A Home to Share provides a solution: sharing living
                    space already existing, to a mutual benefit for seniors
                    and youth. 
                </p>
                <p align="left">
                    With A Home to Share, a senior homeowner offers a room
                    in their home and shared living space in exchange for
                    small chores and companionship.  
                </p>
                <p align="left">
                    A Home to Share matches senior homeowners and cash
                    strapped youth creating an intergenerational home
                    sharing service.
                </p>
                <p align="left">
                    We make it easy for home renter to find helpful
                    housemates and making an affordable housing option
                    for young people. 
                </p>
            </div>
        </section>
        
        <div class="placeholder-h2"></div>
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-3">
                <img src="../image/homesharing_circle.png" alt="HomeSharing icon image" style="width:125px;height:125px; margin-left:20px;">
                <h4 class="timeline-title">With a Home to Share you can:</h4>
                <p>
                    <em style='font-weight:bold'>Make Money:</em> By turning your spare room into monthly income. 
                </p>
                <p>
                    <em style='font-weight:bold'>Get Help Around the House:</em> Find someone who can help you with your household maintenance and chores.  
                </p>
                <p>
                    <em style='font-weight:bold'>Build New Friendships:</em> Connect with a great person from another generation.  
                </p>
            </div>
        </section>
        
        <section class="main_section">             
            <div>
                <h5>"This is more about sharing a house!"</h5>
            </div>
        </section>
     

    <!-- Footer -->
        <footer th:replace=" footer :: footer"></footer>
    </body>
</html>
