<!DOCTYPE html>
<!-- 
File: hostAccountSettings.html
Description: A page for logged-in renters to change password
Create: Oct.26,2018
Author: Zhan Shen
Modified:Liangliang Du
Last Modified By: Chen Huang - 2019W
Clients: Michelle Bilek, Farheen Khan
Course: CST8334 - Software Development Project - 2018F
Professor: Dr. Anu Thomas
Project: A Home to Share
Copyright @ 2018
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>Account Settings</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/subpage_style.css}" th:defer="true"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" th:defer="true"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/footer.css}" th:defer="true"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
</head>

<body class="subpage">
<!-- Header -->
<header th:replace=" header :: header"></header>

<!--Main Frame-->
<div class="wrapper">

    <!--Pane 1: a placeholder-->
    <li class="aside aside-1"></li>

    <!--Pane 2: "My Account" - menu buttons-->
    <li class="aside aside-2">
        <div class="btn-group-vertical">
            <ul id="horizontal-list">
                <li><hr class="welcome_block" align="left"></li>
                <li><h3>Hello <span th:text="${fullName}"></span></h3><li>
            </ul >
            <ul style="list-style:none;">
                <li id="menu1"><input type="button" value="My Profile" class="" onclick="window.location.href='/host/hostProfile'" /></li>
                <li id="menu2"><input type="button" value="Account Settings" class="" onclick="window.location.href='/host/hostAccountSettings'" /></li>
                <li id="menu3"><input type="button" value="Manage Properties" class="" onclick="window.location.href='/host/propertyProfile'" /></li>
            </ul>
        </div>
    </li>


    <!--Pane 3: "My Account" - Account Settings contents-->
    <li class="aside aside-3">
        <div class="login-settings-content">

            <h2>Change password</h2>

            <hr width=600px;>

            <form method="post" th:action="@{/host/hostAccountSettings}" th:object="${form}" onsubmit="" >
                <!-- Break: Old password, New password, Confirm new password  <ul style="list-style:none;">-->
                <ul style="list-style:none;">
                    <div class="password">
                        <li class="account_email"><h4>Email address</h4></li>
                        <li id="account_email">
                            <input type="text" th:field="*{email}" name="email" value="" size="40" maxlength="45" readonly>
                        </li>
                    </div>

                    <div class="password">
                        <li class="old_pwd"><h4>Old password</h4></li>
                        <li><input type="password" th:field="*{oldPassword}" name="old_pwd" size="45" maxlength="45" ></li>
                        <li class="pwd_error">
                            <h5 color="red">
                                <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
                            </h5>
                        </li>
                    </div>

                    <div class="password">
                        <li class="new_pwd"><h4>New password</h4></li>
                        <li><input type="password" th:field="*{newPassword}" name="new_pwd" size="45" maxlength="45" ></li>
                        <li class="pwd_error">
                            <h5 color="red">
                                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
                            </h5>
                        </li>
                    </div>

                    <div class="password">
                        <li class="confirm_new_pwd"><h4>Confirm new password</h4></li>
                        <li><input type="password" th:field="*{confirmPassword}" name="confirm_new_pwd" size="45" maxlength="45"></li>
                        <li class="pwd_error">
                            <h5 color="red">
                                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
                            </h5>
                        </li>
                    </div>

                    <div class="password" id="password">
                        <ul id="update_pwd_btn">
                            <li class="update_pwd"><input type="submit" name="update" value="Update password" /></li>
                            <li class="update_success">
                                <h5 color="red">
                                    <span th:if="${updateError}" th:text="${updateError}"></span>
                                    <span th:if="${msg}" th:text="${msg}"></span>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </ul>
            </form>

            <!-- Break: Delete account, Delete my account button -->
            <h2 class="delete_account">Delete account</h2>

            <hr width=600px;>

            <h5>Once you delete your account, there is no going back. Please be certain.</h5>

            <form method="post" th:action="@{/host/deleteHost}" onsubmit="">
                <div class="password">
                    <li class="old_pwd"><h4>Old password</h4></li>
                    <li><input type="password" name="old_pwd" size="45" maxlength="45" ></li>
                    <li class="pwd_error">
                        <h5 color="red">
                            <span th:if="${deletionError}" th:text="${deletionError}"></span>
                        </h5>
                    </li>
                </div>
                <ul class="delete_account_btn">
                    <li class="delete_my_account"><input type="submit" name="delete" value="Delete my account" /></li>
                </ul>
            </form>
        </div>
    </li>

    <!--Pane 4: a placeholder -->
    <li class="aside aside-4"></li>
</div>

<!-- Footer -->
<footer th:replace=" footer :: footer"></footer>

</body>
</html>