<!DOCTYPE html>
<!-- 
File: howWeWork.html
Description: How We Work page
Create: Nov,13,2018
Author: Zhan Shen
Modified By: Oroi Wang - 2019W
Clients: Michelle Bilek,Farheen Khan
Course: CST8334 - Software Development Project - 2018F
Professor: Dr. Anu Thomas
Project: A Home to Share
Copyright @ 2018
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <title>A Home To Share</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/howWeWork_style.css}" th:defer="true"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" th:defer="true"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/footer.css}" th:defer="true"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/header.js}" th:defer="true"></script>

    </head>

    <body class="subpage">
        <!-- Header -->
        <header th:replace=" header :: header"></header>

    <!-- Main -->
        <!-- Block 1 -->
        <section class="main_section">
                <div>
                    <img src="../image/how_we_work01.jpg" alt="Renter registration image" style="width:500px;height:500px;"/>
                </div>
                
                <div>
                    <h1>How It Works</h1>
                    <p>A Home To Share helps make intergenerational home sharing safe and easy by providing screening, customizable home sharing agreements, and ongoing support. </p>
                </div>
        </section>    
            
    <!-- Block 2 -->
        <section class="main_section">
            <div class="card-body1">
                <h2 class="">HOW IT WORKS</h2>
                <h3 class="">As a Host</h3>
            </div>
            <div class="placeholder-v"></div>
            <div class="card-body2">
                <h2 class="">HOW IT WORKS</h2>
                <h3 class="">As a Guest</h3>
            </div>
        </section> 
    <div class="placeholder-h1"></div>

    <!-- Block 3 -->
        <section class="main_section">
            <div class="col-1-row-1">
                <img src="../image/host-icon.png" alt="Host icon image" style="width:80px; height:80px; margin-left:360px;">
                <h4 class="timeline-title">Create your free profile and room listing</h4>
                <p>
                    Create a listing for your spare room using our simple signup
                    process. Include a brief description of your home and
                    neighborhood, photos, and your monthly price. Make your
                    listing even more appealing by adding information about
                    yourself so Guests can get to know you!
                </p>
            </div>
            <div class="placeholder-v"></div>
            <div class="col-1-row-1">
                <img src="../image/guest-icon.png" alt="Guest icon image" style="width:80px;height:80px; margin-left:20px;">
                <h4 class="timeline-title">Create your free profile</h4>
                <p>
                    Help your future Hosts get to know you by telling 
                    them your hobbies, interests, and anything else 
                    you’d like to share about yourself. 
                </p>
            </div>
        </section>
    
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-1">
                <img src="../image/host-icon.png" alt="Host icon image" style="width:80px;height:80px; margin-left:360px;">
                <h4 class="timeline-title">Review your booking requests</h4>
                <p>
                    We require all Hosts and Guests to complete our 
                    screening process, which includes a criminal record 
                    check and two reference checks. Only screened Guests 
                    will be able to request bookings, and we will need 
                    your verification before you can respond to them directly. 
                </p>
            </div>
            <div class="placeholder-v"></div>
            <div class="col-1-row-1">
                <img src="../image/guest-icon.png" alt="Guest icon image" style="width:80px;height:80px; margin-left:20px;">
                <h4 class="timeline-title">Explore listings</h4>
                <p>
                    Search our list of verified Hosts by location, date, 
                    and price to find the right home share. Before you 
                    can message Hosts you must complete our screening process, 
                    which includes a criminal record check and two reference 
                    checks. 
                </p>
            </div>
        </section>
        
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-2">
                
            </div>
            <div class="placeholder-v"></div>
            <div class="col-1-row-1">
                <img src="../image/guest-icon.png" alt="Guest icon image" style="width:80px;height:80px; margin-left:20px;">
                <h4 class="timeline-title">Send a booking request</h4>
                <p>
                    Contact us to reach out to Hosts. Send them a 
                    personalized note telling them about yourself 
                    and why you are interested in home sharing with them.  
                </p>
            </div>
        </section>
        
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-3">
                <img src="../image/host-guest.png" alt="Host & Guest icon image" style="width:180px;height:90px; margin-left:20px;">
                <h4 class="timeline-title">Message</h4>
                <p>
                    Upfront communication is key to a successful home 
                    share. We will connect Host and Guest over the phone 
                    or meet in person to make sure you've found the right 
                    fit. Discuss the Host's home sharing agreement to 
                    clarify the rules and expectations on both sides. 
                </p>
            </div>
        </section>
        
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-3">
                <img src="../image/host-guest.png" alt="Host & Guest icon image" style="width:180px;height:90px; margin-left:20px;">
                <h4 class="timeline-title">Confirm the booking</h4>
                <p>
                    When both Host and Guest are ready to move forward, 
                    A Home To Share makes it easy to confirm the terms 
                    of the home share and schedule automatic rent payments.
                    Our one-time Host match fee of $95-$195 is simply 
                    deducted from the first month's rent payment. 
                </p>
            </div>
        </section>
        
        <div class="placeholder-h2"></div>
        
        <section class="main_section">
            <div class="col-1-row-3">
                <img src="../image/host-guest.png" alt="Host & Guest icon image" style="width:180px;height:90px; margin-left:20px;">
                <h4 class="timeline-title">Move in and enjoy your home share!</h4>
                <p>
                    A Home To Share makes sending and receiving rent 
                    payments a breeze with our secure payment system. 
                    Charges occur instantaneously, and generally take 
                    5-7 business days to be deposited into the Host’s 
                    account. A Home To Share charges just 10% of monthly 
                    rent for ongoing use of the A Home To Share platform, 
                    including automated rent payments and support throughout 
                    the duration of the home share.  
                </p>
            </div>
        </section>
        <div class="placeholder-h2"></div>
        <div class="placeholder-h2"></div>
        <div class="placeholder-h2"></div>


        <footer th:replace=" footer :: footer"></footer>
     <!-- Block 4 -->
    </body>
</html>
