<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>A Home To Share</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/signUpPage_style.css}" th:defer="true"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" th:defer="true"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/footer.css}" th:defer="true"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{js/header.js}" defer></script>
        <script type="text/javascript" th:src="@{js/renterRegister.js}"></script>

    </head>
    
    <body class="subpage">
        <!-- Header -->
        <header th:replace=" header :: header"></header>

        <!-- Main -->
            <section id="main_section" class="wrapper">
                <!-- Left side text & image -->
                    <div>
                        <header>
                                <h2>Let's get started</h2>
                                <p>Sign up and start home sharing! Joining our community will just take a couple of minutes.</p>
                                <img src="image/renter_registration.jpg" alt="Renter registration image" />
                        </header>
                    </div>
                
                <!-- Form -->
                    <div>
                        <form method="post" th:action="@{/renterRegister}" th:object="${renter}" onsubmit="return checkForm(this)" >
                            <!--<div class="row uniform">-->

                            <h2>Renter Registration</h2>
                                    
                            <!-- Break: First Name(db:first_name), Last Name(db:last_name) -->
                                <div class="registerFormRow">
                                    <h4>First Name<span style="color:red; font-weight:bold">*</span></h4>
                                    <input type="text" th:field="*{firstName}" name="firstname" id="firstname" value="" size="30" placeholder="First Name" maxlength="45" pattern="[A-Za-z]{1,45}" required />
                                </div>

                                <div class="registerFormRow">
                                    <h4>Last Name<span style="color:red; font-weight:bold">*</span></h4>
                                    <input type="text" th:field="*{lastName}" name="lastname" id="lastname" value="" size="30" placeholder="Last Name" maxlength="45" pattern="[A-Za-z]{1,45}" required />
                                </div>

                            <!-- Break: Email Address(db:email), Phone Number(db:phone) -->
                                <div class="registerFormRow">
                                    <h4>Email Address<span style="color:red; font-weight:bold">*</span></h4>
                                    <input type="email" th:field="*{email}" name="email" id="email" value="" size="30" placeholder="Email Address" maxlength="42" required />
                                </div>

                                <div class="registerFormRow">
                                    <h4>Phone Number</h4>
                                    <input type="tel" th:field="*{phone}" name="phone" id="phone" value="" size="30" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
                                    <!--<span class="validity"></span>-->
                                </div>

                            <!-- Break: Gender(db:gender), Year Born(db:date_of_birth) -->
                                <div class="registerFormRow">
                                    <h4>Gender<span style="color:red; font-weight:bold">*</span></h4>
                                    <select name="gender" th:field="*{gender}" id="gender" required >
                                            <option value="">- Select your gender -</option>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                    </select>
                                </div>

                                <div class="registerFormRow">
                                    <h4>Birth Year<span style="color:red; font-weight:bold">*</span></h4>
                                    <select name="dateOfBirth" th:field="*{dateOfBirth}" id="dateOfBirth" required >
                                            <option value="">- Select the year you were born  -</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                            <option value="1989">1989</option>
                                            <option value="1988">1988</option>
                                            <option value="1987">1987</option>
                                            <option value="1986">1986</option>
                                            <option value="1985">1985</option>
                                            <option value="1984">1984</option>
                                            <option value="1983">1983</option>
                                    </select>   
                                </div>

                            <!-- Referral Source(db:referral_source) -->                                
                                <div class="registerFormRow">
                                    <h4>Referral Source<span style="color:red; font-weight:bold">*</span></h4>
                                    <select th:field="*{referralSource}" name="referralSrc" id="referralSrc" required >
                                        <option value="">- How did you specifically learn about us -</option>
                                        <option value="newspaper">Newspaper</option>
                                        <option value="tv">TV</option>
                                        <option value="searchEngine">Search engine</option>
                                        <option value="directlyVisit">Directly visit</option>
                                        <option value="videoAds">Video ads</option>
                                        <option value="emailAds">Email ads</option>
                                        <option value="friends">Friend's suggestion</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>

                            <!-- Password(db: password), Confirm Password -->
                                <div class="registerFormRow">
                                    <h4>Password<span style="color:red; font-weight:bold">*</span></h4>
                                    <input type="password" name="pwd1" size="30" required>
                                </div>
                                <div class="registerFormRow">
                                    <h4>Confirm Password<span style="color:red; font-weight:bold">*</span></h4>
                                    <input type="password" th:field="*{password}" name="pwd2" size="30" required>
                                </div>

                            <!-- Buttons: Sign Up, Reset -->
                                <div>
                                    <ul class="actions fit">                                                                             
                                        <li><input type="reset" value="Reset" class="alt" /></li>
                                        <li><input type="submit" value="Sign Up" /></li>
                                        
                                    </ul>
                                </div>
                                <div class="registerError" th:if="${msg}">
                                    <span th:text="${msg}"></span>
                                </div>
                        </form>
                    </div>
            </section>
        <!-- Javascript for checking password -->

        <!-- Footer -->
        <footer th:replace=" footer :: footer"></footer>

    </body>
</html>