<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
File: LoginRecordMapper.xml
Author: Peng Li
Clients: Michelle Bilek - A Home To Share
Course: CST8334 - Software Development Project - 2019W
Professor: Reg Dyer
Project: A Home to Share
Copyright @ 2019
-->
<mapper namespace="app.withyou.ahometoshare.dao.LoginRecordMapper">
  <resultMap id="BaseResultMap" type="app.withyou.ahometoshare.model.LoginRecord">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="usertype" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="DATE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, usertype, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from login_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="app.withyou.ahometoshare.model.LoginRecord">
    insert into login_record (id, username, usertype, 
      time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, 
      #{time,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="app.withyou.ahometoshare.model.LoginRecord">
    insert into login_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="app.withyou.ahometoshare.model.LoginRecord">
    update login_record
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.withyou.ahometoshare.model.LoginRecord">
    update login_record
    set username = #{username,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectHostLoginRecordGroupByMonth" resultType="java.util.HashMap">
    SELECT
        COUNT(1) num, time
    FROM
        (SELECT DISTINCT
            username, DATE_FORMAT(time, '%Y-%m') time
        FROM
            login_record
        WHERE
            usertype = 1
                AND DATE_FORMAT(time, '%Y-%m') > DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 12 MONTH), '%Y-%m')) AS individual_host_activeness
    GROUP BY DATE_FORMAT(time, '%Y-%m')
    ORDER BY DATE_FORMAT(time, '%Y-%m');
  </select>
  <select id="selectRenterLoginRecordGroupByMonth" resultType="java.util.HashMap">
    SELECT
        COUNT(1) num, time
    FROM
        (SELECT DISTINCT
            username, DATE_FORMAT(time, '%Y-%m') time
        FROM
            login_record
        WHERE
            usertype = 2
                AND DATE_FORMAT(time, '%Y-%m') > DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 12 MONTH), '%Y-%m')) AS individual_renter_activeness
    GROUP BY DATE_FORMAT(time, '%Y-%m')
    ORDER BY DATE_FORMAT(time, '%Y-%m');
  </select>

  <select id="countActiveHosts" parameterType="java.lang.Integer" resultType="java.lang.Long">
    SELECT  count(1) num
    FROM
    ( SELECT DISTINCT username
        from  login_record
            WHERE usertype = 1 and time BETWEEN CURDATE() - INTERVAL #{period, jdbcType=INTEGER} DAY AND CURDATE() ) as t;
  </select>

  <select id="countActiveRenters" parameterType="java.lang.Integer" resultType="java.lang.Long">
    SELECT  count(1) num
    FROM
    ( SELECT DISTINCT username
        from  login_record
            WHERE usertype = 2 and time BETWEEN CURDATE() - INTERVAL #{period, jdbcType=INTEGER} DAY AND CURDATE() ) as t;
  </select>

</mapper>