<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.withyou.ahometoshare.dao.PropertyMapper">
  <resultMap id="BaseResultMap" type="app.withyou.ahometoshare.model.Property">
    <constructor>
      <idArg column="property_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="host_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postal_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="country" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="family_members" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="smoker" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="pets" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="hydro" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="water" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="gas" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="cable" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="internet" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="parking" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="laundry" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="family_room" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="private_bedroom" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="shared_bedroom" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="private_kitchen" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="shared_kitchen" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="private_washroom" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="shared_washroom" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="host_start_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="host_end_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="shared_chore" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="availability" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    property_id, host_id, address, city, postal_code, province, country, family_members, 
    smoker, pets, hydro, water, gas, cable, internet, parking, laundry, family_room, 
    private_bedroom, shared_bedroom, private_kitchen, shared_kitchen, private_washroom, 
    shared_washroom, price, host_start_date, host_end_date, shared_chore, availability
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from property
    where property_id = #{propertyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from property
    where property_id = #{propertyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="app.withyou.ahometoshare.model.Property">
    insert into property (property_id, host_id, address, 
      city, postal_code, province, 
      country, family_members, smoker, 
      pets, hydro, water, gas, 
      cable, internet, parking, laundry, 
      family_room, private_bedroom, shared_bedroom, 
      private_kitchen, shared_kitchen, private_washroom, 
      shared_washroom, price, host_start_date, 
      host_end_date, shared_chore, availability
      )
    values (#{propertyId,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{familyMembers,jdbcType=INTEGER}, #{smoker,jdbcType=BIT}, 
      #{pets,jdbcType=BIT}, #{hydro,jdbcType=BIT}, #{water,jdbcType=BIT}, #{gas,jdbcType=BIT}, 
      #{cable,jdbcType=BIT}, #{internet,jdbcType=BIT}, #{parking,jdbcType=BIT}, #{laundry,jdbcType=BIT}, 
      #{familyRoom,jdbcType=BIT}, #{privateBedroom,jdbcType=BIT}, #{sharedBedroom,jdbcType=BIT}, 
      #{privateKitchen,jdbcType=BIT}, #{sharedKitchen,jdbcType=BIT}, #{privateWashroom,jdbcType=BIT}, 
      #{sharedWashroom,jdbcType=BIT}, #{price,jdbcType=DOUBLE}, #{hostStartDate,jdbcType=DATE}, 
      #{hostEndDate,jdbcType=DATE}, #{sharedChore,jdbcType=VARCHAR}, #{availability,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="app.withyou.ahometoshare.model.Property">
    insert into property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="propertyId != null">
        property_id,
      </if>
      <if test="hostId != null">
        host_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="familyMembers != null">
        family_members,
      </if>
      <if test="smoker != null">
        smoker,
      </if>
      <if test="pets != null">
        pets,
      </if>
      <if test="hydro != null">
        hydro,
      </if>
      <if test="water != null">
        water,
      </if>
      <if test="gas != null">
        gas,
      </if>
      <if test="cable != null">
        cable,
      </if>
      <if test="internet != null">
        internet,
      </if>
      <if test="parking != null">
        parking,
      </if>
      <if test="laundry != null">
        laundry,
      </if>
      <if test="familyRoom != null">
        family_room,
      </if>
      <if test="privateBedroom != null">
        private_bedroom,
      </if>
      <if test="sharedBedroom != null">
        shared_bedroom,
      </if>
      <if test="privateKitchen != null">
        private_kitchen,
      </if>
      <if test="sharedKitchen != null">
        shared_kitchen,
      </if>
      <if test="privateWashroom != null">
        private_washroom,
      </if>
      <if test="sharedWashroom != null">
        shared_washroom,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="hostStartDate != null">
        host_start_date,
      </if>
      <if test="hostEndDate != null">
        host_end_date,
      </if>
      <if test="sharedChore != null">
        shared_chore,
      </if>
      <if test="availability != null">
        availability,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="propertyId != null">
        #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null">
        #{hostId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="familyMembers != null">
        #{familyMembers,jdbcType=INTEGER},
      </if>
      <if test="smoker != null">
        #{smoker,jdbcType=BIT},
      </if>
      <if test="pets != null">
        #{pets,jdbcType=BIT},
      </if>
      <if test="hydro != null">
        #{hydro,jdbcType=BIT},
      </if>
      <if test="water != null">
        #{water,jdbcType=BIT},
      </if>
      <if test="gas != null">
        #{gas,jdbcType=BIT},
      </if>
      <if test="cable != null">
        #{cable,jdbcType=BIT},
      </if>
      <if test="internet != null">
        #{internet,jdbcType=BIT},
      </if>
      <if test="parking != null">
        #{parking,jdbcType=BIT},
      </if>
      <if test="laundry != null">
        #{laundry,jdbcType=BIT},
      </if>
      <if test="familyRoom != null">
        #{familyRoom,jdbcType=BIT},
      </if>
      <if test="privateBedroom != null">
        #{privateBedroom,jdbcType=BIT},
      </if>
      <if test="sharedBedroom != null">
        #{sharedBedroom,jdbcType=BIT},
      </if>
      <if test="privateKitchen != null">
        #{privateKitchen,jdbcType=BIT},
      </if>
      <if test="sharedKitchen != null">
        #{sharedKitchen,jdbcType=BIT},
      </if>
      <if test="privateWashroom != null">
        #{privateWashroom,jdbcType=BIT},
      </if>
      <if test="sharedWashroom != null">
        #{sharedWashroom,jdbcType=BIT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="hostStartDate != null">
        #{hostStartDate,jdbcType=DATE},
      </if>
      <if test="hostEndDate != null">
        #{hostEndDate,jdbcType=DATE},
      </if>
      <if test="sharedChore != null">
        #{sharedChore,jdbcType=VARCHAR},
      </if>
      <if test="availability != null">
        #{availability,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="app.withyou.ahometoshare.model.Property">
    update property
    <set>
      <if test="hostId != null">
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="familyMembers != null">
        family_members = #{familyMembers,jdbcType=INTEGER},
      </if>
      <if test="smoker != null">
        smoker = #{smoker,jdbcType=BIT},
      </if>
      <if test="pets != null">
        pets = #{pets,jdbcType=BIT},
      </if>
      <if test="hydro != null">
        hydro = #{hydro,jdbcType=BIT},
      </if>
      <if test="water != null">
        water = #{water,jdbcType=BIT},
      </if>
      <if test="gas != null">
        gas = #{gas,jdbcType=BIT},
      </if>
      <if test="cable != null">
        cable = #{cable,jdbcType=BIT},
      </if>
      <if test="internet != null">
        internet = #{internet,jdbcType=BIT},
      </if>
      <if test="parking != null">
        parking = #{parking,jdbcType=BIT},
      </if>
      <if test="laundry != null">
        laundry = #{laundry,jdbcType=BIT},
      </if>
      <if test="familyRoom != null">
        family_room = #{familyRoom,jdbcType=BIT},
      </if>
      <if test="privateBedroom != null">
        private_bedroom = #{privateBedroom,jdbcType=BIT},
      </if>
      <if test="sharedBedroom != null">
        shared_bedroom = #{sharedBedroom,jdbcType=BIT},
      </if>
      <if test="privateKitchen != null">
        private_kitchen = #{privateKitchen,jdbcType=BIT},
      </if>
      <if test="sharedKitchen != null">
        shared_kitchen = #{sharedKitchen,jdbcType=BIT},
      </if>
      <if test="privateWashroom != null">
        private_washroom = #{privateWashroom,jdbcType=BIT},
      </if>
      <if test="sharedWashroom != null">
        shared_washroom = #{sharedWashroom,jdbcType=BIT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="hostStartDate != null">
        host_start_date = #{hostStartDate,jdbcType=DATE},
      </if>
      <if test="hostEndDate != null">
        host_end_date = #{hostEndDate,jdbcType=DATE},
      </if>
      <if test="sharedChore != null">
        shared_chore = #{sharedChore,jdbcType=VARCHAR},
      </if>
      <if test="availability != null">
        availability = #{availability,jdbcType=INTEGER},
      </if>
    </set>
    where property_id = #{propertyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.withyou.ahometoshare.model.Property">
    update property
    set host_id = #{hostId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      family_members = #{familyMembers,jdbcType=INTEGER},
      smoker = #{smoker,jdbcType=BIT},
      pets = #{pets,jdbcType=BIT},
      hydro = #{hydro,jdbcType=BIT},
      water = #{water,jdbcType=BIT},
      gas = #{gas,jdbcType=BIT},
      cable = #{cable,jdbcType=BIT},
      internet = #{internet,jdbcType=BIT},
      parking = #{parking,jdbcType=BIT},
      laundry = #{laundry,jdbcType=BIT},
      family_room = #{familyRoom,jdbcType=BIT},
      private_bedroom = #{privateBedroom,jdbcType=BIT},
      shared_bedroom = #{sharedBedroom,jdbcType=BIT},
      private_kitchen = #{privateKitchen,jdbcType=BIT},
      shared_kitchen = #{sharedKitchen,jdbcType=BIT},
      private_washroom = #{privateWashroom,jdbcType=BIT},
      shared_washroom = #{sharedWashroom,jdbcType=BIT},
      price = #{price,jdbcType=DOUBLE},
      host_start_date = #{hostStartDate,jdbcType=DATE},
      host_end_date = #{hostEndDate,jdbcType=DATE},
      shared_chore = #{sharedChore,jdbcType=VARCHAR},
      availability = #{availability,jdbcType=INTEGER}
    where property_id = #{propertyId,jdbcType=INTEGER}
  </update>
  <select id="getPropertyListByHostId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    property
    where
    host_id = #{hostId,jdbcType=INTEGER}
  </select>
</mapper>